.notes-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 1%;
}

.category-menu {
  padding-bottom: 1%;
  padding-left: 0.4vh;
}

.hide-menu {
  display: none;
}

.no-display-info {
  text-align: center;
  font-size: 3vh;
  padding-bottom: 5%;
}
